<div class="container">
    <div class="card p3 mt-5">
        <h3 class="text-center py-2">
          {{judul}}
        </h3>
        <table class="table">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Nama Produk</th>
                    <th>Jenis Produk</th>
                    <th>Berat Produk</th>
                    <th>Nama Produsen</th>
                    <th>Kode Produsen</th>
                    <th>Alamat Produsen</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Panadol</td>
                    <td>Obat-Obatan</td>
                    <td>25Gr</td>
                    <td>Kimia Farma</td>
                    <td>KM001</td>
                    <td>Bandung</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Panadol Extra</td>
                    <td>Obat-Obatan</td>
                    <td>25Kg</td>
                    <td>Kimia Farma</td>
                    <td>KM001</td>
                    <td>Bandung</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
