<div class="container">
    <div class="card p3 mt-5">
        <h3 class="text-center py-2">
          {{judul}}
        </h3>
        <button class="btn btn-success btn-sm m-3 w-25"
      [routerLink]="['/','produk','tambah']">Tambah</button>
        <table class="table">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Nama Produk</th>
                    <th>Jenis Produk</th>
                    <th>Berat Produk</th>
                    <th>Nama Produsen</th>
                    <th>Kode Produsen</th>
                    <th>Alamat Produsen</th>
                    <th class="text-center">Aksi</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of listProduk; let i = index">
                      <td>{{i + 1}}</td>
                      <td>{{item.produkNama}}</td>
                      <td>{{item.produkJenis}}</td>
                      <td>{{item.produkBerat}}</td>
                      <td>{{item.produsenNama}}</td>
                      <td>{{item.produsenKode}}</td>
                      <td>{{item.produsenAlamat}}</td>
                      <td>
                        <button class="btn btn-success btn-sm mr-2" [routerLink]="['/','produk','sunting',item.produkId]">Sunting</button>
                        <button class="btn btn-danger btn-sm" (click)="deleteProduk(item.produkId)">Hapus</button>
                      </td>
                </tr>
            </tbody>
        </table>
        <!-- <table datatable [dtOptions]="dtOptions" class="row-border hover"></table> -->
    </div>
</div>
